{% extends "base.html" %}
{% load static %}
{% load menu_tags %}

{% block css_for_footer %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block menu %}
<div class="menu">
    
    <ul class="category-menu">
        {% tag_sorted_categories as categories %}
        {% for category in categories %}
        <li><a class="text-black category" href="{% url "menu:index" category.slug %}">
            <img src="
            {% if category.image %}
            {{ category.image.url }}
            {% endif %}" class="m-2" alt="{{category.name}}" title="{{category.name}}" width="60" height="60"><p>{{category.name}}</p></a></li>
            {% endfor %}
            
    </ul>
</div>
{% endblock menu %}

{% block content %}
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2">
                <!-- Пустой блок на Ваше усмотрение -->
            </div>
            <div class="col-lg-10">
                <!-- Контент на сторінці -->
                <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">by Vadim Krupin 2024</p>
    </div>
</footer>
{% endblock %}