{% extends "base.html" %}
{% load static %}

{% block css_for_footer %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1">
            <div class="col-lg-2">
                <!-- Пустой блок на Ваше усмотрение -->
            </div>
            <div class="col-lg-10">
                <!-- Контент на странице -->
                <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock %}