{% load static %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">

    {% block css_for_footer %}
    {% endblock  %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %} ">
    <link rel="manifest" href="deps/favicon/site.webmanifest">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg my_navbar" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand logo_font me-5" href="{% url "main:index" %}">Lounge Resto Daniel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white navbar_font" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Інформація
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item  text-white navbar_font" href="#">Доставка і оплата</a></li>
                                <li><a class="dropdown-item  text-white navbar_font" href="#">Контактна інформація</a></li>
                                <li><a class="dropdown-item  text-white navbar_font" href="{% url "main:about" %}">Про нас</a></li>
                            </ul>
                        </li>
                        {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link  text-white navbar_font" href="{% url "users:login" %}">Увійти</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle text-white navbar_font" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Мій профіль
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item  text-white navbar_font" href="{% url "user:users_cart" %}">Кошик</a></li>
                                    <li><a class="dropdown-item  text-white navbar_font" href="{% url "users:profile" %}">Особистий кабінет</a>
                                    </li>
                                    {% if user.is_admin or user.is_staff %}
                                        <li><a class="dropdown-item  text-white navbar_font" href="{% url "admin:index" %}">Адмін панель</a></li>
                                    {% endif %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item  text-white navbar_font" href="{% url "users:logout" %}">Вийти</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% url "menu:search" %}" method="get" onsubmit="return validateSearchForm()">
                        <input class="form-control me-2 navbar_font" type="search" name="q" id="searchInput" placeholder="Введіть запит" aria-label="Search" value="{{request.GET.q}}">
                        <button class="btn btn-outline-success text-white navbar_font" type="submit">Пошук</button>
                    </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 hide-on-mobile">
                        <li class="nav-item">
                            {% block modal_cart %}{% endblock %}
                        </li>
                    </ul>
                </div>
            </div>
            {% block menu %}
            
            {% endblock menu %}
        </nav>
    </header>
    <section>
        <div class="container">
            <!-- Каталог та кошик з фіксованим розташуванням на сторінці -->
            <div class="row mt-1 position-fixed z-3">
                <!-- Значок кошика викликає модне вікно -->
                
                <!-- Закінчилась розмітка модального вікна -->
            </div>
        </div>
        
        {% include "includes/notifications.html" %}
        {% block content %}
        {% endblock %}

    </section>

    {% block footer %}
    {% endblock  %}

    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script>
    function validateSearchForm() {
        var searchInput = document.getElementById("searchInput");
        var query = searchInput.value.trim();
    
        // Перевіряємо, чи містить поле пошуку якесь значення
        if (query === "") {
            // Якщо порожньо, встановлюємо action на "slug=all"
            document.querySelector('form').action = "{% url 'menu:index' 'all' %}";
        } else {
            // Якщо є значення, використовуємо поточну URL-адресу, але без параметра q
            var currentUrl = "{% url 'menu:search' %}";
            // Видаляємо параметр q з URL
            var urlWithoutQParam = currentUrl.split('?')[0];
            document.querySelector('form').action = urlWithoutQParam;
        }
        return true; // Дозволяємо відправлення форми
    }
</script>
</body>

</html>